<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Autorities</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<div class="container">
	 <h1>Lista de Autoridades</h1>
    <ul>
        <li th:each="authority : ${listaAuthorities}" th:text="${authority.id}"></li>
    </ul>
</div>
</body>
</html>